# Chapter 4-1 Series

In [1]:
import pandas as pd

In [5]:
house_path = 'data/kc_house_data.csv'

In [6]:
house_sales = pd.read_csv(house_path)
house_sales.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [7]:
date_col_df = house_sales[['date']]
date_col_df.head()

              date
0  20141013T000000
1  20141209T000000
2  20150225T000000
3  20141209T000000
4  20150218T000000

In [8]:
type(date_col_df)

pandas.core.frame.DataFrame

In [9]:
date_col = house_sales['date']

In [10]:
type(date_col)

pandas.core.series.Series

In [11]:
date_col.head()

0    20141013T000000
1    20141209T000000
2    20150225T000000
3    20141209T000000
4    20150218T000000
Name: date, dtype: object

In [12]:
date_col.info()

<class 'pandas.core.series.Series'>
RangeIndex: 21613 entries, 0 to 21612
Series name: date
Non-Null Count  Dtype
--------------  -----
21613 non-null  object
dtypes: object(1)
memory usage: 169.0+ KB

In [13]:
date_col.shape

(21613,)

In [14]:
house_sales.shape

(21613, 21)

In [15]:
date_col_df.shape

(21613, 1)