# Converting Series with to_numeric function

In [1]:
import pandas as pd

In [2]:
ufos_path = 'data/ufo_sightings.csv'

In [3]:
ufo_sightings = pd.read_csv(ufos_path)
ufo_sightings.head()

/tmp/ipykernel_6811/2208410200.py:1: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  ufo_sightings = pd.read_csv(ufos_path)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [4]:
ufo_sightings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              80332 non-null  object
 1   city                  80332 non-null  object
 2   state                 74535 non-null  object
 3   country               70662 non-null  object
 4   shape                 78400 non-null  object
 5   duration (seconds)    80332 non-null  object
 6   duration (hours/min)  80332 non-null  object
 7   comments              80317 non-null  object
 8   date posted           80332 non-null  object
 9   latitude              80332 non-null  object
 10  longitude             80332 non-null  float64
dtypes: float64(1), object(10)
memory usage: 6.7+ MB

In [5]:
seconds = ufo_sightings['duration (seconds)']

In [6]:
seconds.head()

0    2700
1    7200
2      20
3      20
4     900
Name: duration (seconds), dtype: object

In [8]:
num_seconds = pd.to_numeric(seconds)
num_seconds

ValueError: Unable to parse string "2`" at position 27822

In [9]:
num_seconds = pd.to_numeric(seconds, errors='coerce')
num_seconds

0        2700.0
1        7200.0
2          20.0
3          20.0
4         900.0
          ...
80327     600.0
80328    1200.0
80329    1200.0
80330       5.0
80331    1020.0
Name: duration (seconds), Length: 80332, dtype: float64

In [10]:
## Locate cell with invalid data

In [11]:
num_seconds.iloc[27822]

nan