# Chapter 5-2: The count Method

In [1]:
import pandas as pd

In [2]:
ufos_path = 'data/ufo_sightings.csv'

In [3]:
ufo_sightings = pd.read_csv(ufos_path)
ufo_sightings.head()

/tmp/ipykernel_6891/2208410200.py:1: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  ufo_sightings = pd.read_csv(ufos_path)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [4]:
 ufo_sightings.count()

datetime                80332
city                    80332
state                   74535
country                 70662
shape                   78400
duration (seconds)      80332
duration (hours/min)    80332
comments                80317
date posted             80332
latitude                80332
longitude               80332
dtype: int64

In [5]:
ufo_sightings.shape

(80332, 11)

In [9]:
 country_count = ufo_sightings['country'].count()
num_records = ufo_sightings.shape[0]

In [10]:
num_records - country_count

9670

In [11]:
# Convert duration to number data type
pd.to_numeric(ufo_sightings['duration (seconds)'],errors='coerce').count()

80329