# Chapter 5-3: Mean and Median

In [1]:
import pandas as pd

In [10]:
# Display numbers in human readable format
pd.options.display.float_format = '{:.2f}'.format

In [6]:
houses_path = 'data/kc_house_data.csv'

In [7]:
house_sales = pd.read_csv(houses_path)
house_sales.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.0,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5,-122.3,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.2,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7,-122.3,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.0,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7,-122.2,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.0,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5,-122.4,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.0,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6,-122.0,1800,7503

In [11]:
house_sales.mean(numeric_only=True)

id              4580301520.86
price               540088.14
bedrooms                 3.37
bathrooms                2.11
sqft_living           2079.90
sqft_lot             15106.97
floors                   1.49
waterfront               0.01
view                     0.23
condition                3.41
grade                    7.66
sqft_above            1788.39
sqft_basement          291.51
yr_built              1971.01
yr_renovated            84.40
zipcode              98077.94
lat                     47.56
long                  -122.21
sqft_living15         1986.55
sqft_lot15           12768.46
dtype: float64

In [12]:
house_sales.median(numeric_only=True)

id              3904930410.00
price               450000.00
bedrooms                 3.00
bathrooms                2.25
sqft_living           1910.00
sqft_lot              7618.00
floors                   1.50
waterfront               0.00
view                     0.00
condition                3.00
grade                    7.00
sqft_above            1560.00
sqft_basement            0.00
yr_built              1975.00
yr_renovated             0.00
zipcode              98065.00
lat                     47.57
long                  -122.23
sqft_living15         1840.00
sqft_lot15            7620.00
dtype: float64

In [13]:
house_sales['price'].mean() - house_sales['price'].median()

90088.14176652941