# Chapter 7-6: Combining "and" & "or" Logic operators

In [1]:
import pandas as pd

In [2]:
house_path = 'data/kc_house_data.csv'

In [3]:
house_sales = pd.read_csv(house_path)

In [4]:
house_sales[house_sales['waterfront'] > 0].head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
49,822039084,20150311T000000,1350000.0,3,2.50,2753,65005,1.0,1,2,...,9,2165,588,1953,0,98070,47.4041,-122.451,2680,72513
230,8096000060,20150413T000000,655000.0,2,1.75,1450,15798,2.0,1,4,...,7,1230,220,1915,1978,98166,47.4497,-122.375,2030,13193
246,2025069065,20140929T000000,2400000.0,4,2.50,3650,8354,1.0,1,4,...,9,1830,1820,2000,0,98074,47.6338,-122.072,3120,18841
264,2123039032,20141027T000000,369900.0,1,0.75,760,10079,1.0,1,4,...,5,760,0,1936,0,98070,47.4683,-122.438,1230,14267
300,3225069065,20140624T000000,3075000.0,4,5.00,4550,18641,1.0,1,4,...,10,2600,1950,2002,0,98074,47.6053,-122.077,4550,19508

In [5]:
# define the criteria
waterfront = house_sales['waterfront'] == 1
nice_view = house_sales['view'] > 0
multi_story = house_sales['floors'] >  1

In [6]:
life_goals = house_sales[waterfront | nice_view & multi_story]
life_goals.head(20)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
15,9297300055,20150124T000000,650000.0,4,3.00,2950,5000,2.0,0,3,...,9,1980,970,1979,0,98126,47.5714,-122.375,2140,4000
49,822039084,20150311T000000,1350000.0,3,2.50,2753,65005,1.0,1,2,...,9,2165,588,1953,0,98070,47.4041,-122.451,2680,72513
58,7922800400,20140827T000000,951000.0,5,3.25,3250,14342,2.0,0,4,...,8,3250,0,1968,0,98008,47.5880,-122.116,2960,11044
99,7338200240,20140516T000000,437500.0,3,2.50,2320,36847,2.0,0,2,...,9,2320,0,1992,0,98045,47.4838,-121.714,2550,35065
114,8961960160,20141028T000000,480000.0,4,2.50,3230,16171,2.0,0,3,...,9,2520,710,2001,0,98001,47.3183,-122.253,2640,8517
153,7855801670,20150401T000000,2250000.0,4,3.25,5180,19850,2.0,0,3,...,12,3540,1640,2006,0,98006,47.5620,-122.162,3160,9750
230,8096000060,20150413T000000,655000.0,2,1.75,1450,15798,2.0,1,4,...,7,1230,220,1915,1978,98166,47.4497,-122.375,2030,13193
246,2025069065,20140929T000000,2400000.0,4,2.50,3650,8354,1.0,1,4,...,9,1830,1820,2000,0,98074,47.6338,-122.072,3120,18841
255,5101404898,20140519T000000,592500.0,2,2.00,1420,9191,1.5,0,2,...,7,1420,0,1928,0,98115,47.6979,-122.320,1420,6816
264,2123039032,20141027T000000,369900.0,1,0.75,760,10079,1.0,1,4,...,5,760,0,1936,0,98070,47.4683,-122.438,1230,14267
269,7960900060,20150504T000000,2900000.0,4,3.25,5050,20100,1.5,0,2,...,11,4750,300,1982,2008,98004,47.6312,-122.223,3890,20060
282,7424700045,20150513T000000,2050000.0,5,3.00,3830,8480,2.0,0,1,...,9,2630,1200,1905,1994,98122,47.6166,-122.287,3050,7556
294,9297300045,20140709T000000,550000.0,3,2.00,1970,4166,2.0,0,3,...,8,1270,700,1929,0,98126,47.5717,-122.375,2390,4166
300,3225069065,20140624T000000,3075000.0,4,5.00,4550,18641,1.0,1,4,...,10,2600,1950,2002,0,98074,47.6053,-122.077,4550,19508
310,3416600800,20150209T000000,834000.0,4,2.50,2370,4000,1.5,0,2,...,8,1980,390,1928,0,98144,47.6010,-122.294,2440,5750
312,1860600135,20140502T000000,2384000.0,5,2.50,3650,9050,2.0,0,4,...,10,3370,280,1921,0,98119,47.6345,-122.367,2880,5400
359,952003285,20140805T000000,679900.0,3,2.50,2440,5750,2.0,0,2,...,9,1980,460,2000,0,98116,47.5650,-122.381,1520,5750
384,713500030,20140728T000000,1350000.0,5,3.50,4800,14984,2.0,0,2,...,11,3480,1320,1998,0,98006,47.5543,-122.148,4050,19009
394,1923000030,20140728T000000,1118000.0,4,2.50,3840,16619,2.0,0,1,...,10,3840,0,1983,0,98040,47.5634,-122.213,3600,16553
414,1678400105,20150212T000000,339000.0,4,1.50,2390,7480,1.5,0,2,...,7,2390,0,1920,0,98178,47.5040,-122.227,2850,6867