# Chapter 8-1: Updating DataFrame Values Using 'loc'

In [3]:
import pandas as pd
pd.options.display.float_format = '{:.1f}'.format

In [4]:
ufos_path = 'data/ufo_sightings.csv'

In [6]:
ufo_sightings = pd.read_csv(ufos_path)

/tmp/ipykernel_11389/881806717.py:1: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  ufo_sightings = pd.read_csv(ufos_path)

In [7]:
# Add a column that has a numeric version of one of the columns that can be converted to numeric but is currently assigned object data type
ufo_sightings['duration_seconds_numeric'] = pd.to_numeric(ufo_sightings['duration (seconds)'], errors='coerce')

In [8]:
seconds_nan = ufo_sightings[ufo_sightings['duration_seconds_numeric'].isna()]
seconds_nan[['duration (seconds)', 'duration_seconds_numeric']]

      duration (seconds)  duration_seconds_numeric
27822                 2`                       NaN
35692                 8`                       NaN
58591               0.5`                       NaN

In [9]:
ufo_sightings.loc[27822, 'duration (seconds)']

'2`'

In [10]:
ufo_sightings.loc[27822, 'duration (seconds)'] = 2

In [11]:
ufo_sightings.loc[27822, 'duration (seconds)']

2

In [12]:
ufo_sightings.loc[[35692, 58591], 'duration (seconds)']

35692      8`
58591    0.5`
Name: duration (seconds), dtype: object

In [13]:
ufo_sightings.loc[[35692, 58591], 'duration (seconds)'] = [8, 0.5]

In [14]:
ufo_sightings.loc[[35692, 58591], 'duration (seconds)']

35692     8
58591   0.5
Name: duration (seconds), dtype: object

In [15]:
seconds_nan[['duration (seconds)', 'duration_seconds_numeric']]

      duration (seconds)  duration_seconds_numeric
27822                 2`                       NaN
35692                 8`                       NaN
58591               0.5`                       NaN

In [16]:
seconds_nan = ufo_sightings[ufo_sightings['duration_seconds_numeric'].isna()]
seconds_nan[['duration (seconds)', 'duration_seconds_numeric']]

      duration (seconds)  duration_seconds_numeric
27822                  2                       NaN
35692                  8                       NaN
58591                0.5                       NaN